{%extends 'jobseeker/base.html'%}

{%block bodyblock%}
<h4>{{data|length}} Saved Jobs</h4>

{%for job in data%}
<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex justify-content-center align-items-center px-2">
        {% if job.poster %}
        <img src="{{ job.poster.url }}" class="img-fluid rounded-start" alt="...">

        {%endif%}
    </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title fw-bolder">{{job.title}}</h5>
          <p class="card-text">
            <i class="fa-regular fa-clock"></i> {{job.job_type}}
            <i class="fa-solid fa-sack-dollar ms-2" style="color: #3f4040;"></i> {{job.salary}}
            <i class="fa-solid fa-building ms-2" style="color: #4a4a4a;"></i>{{job.company}}

        </p>
          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>

            {%if request.user.profile%}
            <form action="{%url 'job_save' job.id%}" method="post" class="mb-3 ">
              {%csrf_token%}
              {%if job in request.user.profile.saved_jobs.all%}
                <button type="submit" name="action" value="unsave" class="btn btn-outline-primary">unsave</button>
              {%else%}
                <button type="submit" name="action" value="save" class="btn btn-outline-primary">save</button>
              {%endif%}
            </form>
            {%endif%}

          <a href="{%url 'job-detail' job.id%}" class="btn btn-outline-primary">View more</a>

        </div>
      </div>
    </div>
  </div>
{%endfor%}

{%endblock%}